<nz-header class="main-header" nz-row nzType="flex" style="background-color: brown;">
<div>
  <h2 style="color: white; padding-left: 10px;">Movie Booking Application</h2>
</div>

<div class="nav-links">
  <a nz-button nzType="link" routerLink="/home" routerLinkActive="active" style="color: white;">Home</a>
  <a nz-button nzType="link" routerLink="/register"  routerLinkActive="active" style="color: white;">Register</a>
  <a nz-button nzType="link" routerLink="/login"  routerLinkActive="active" style="color: white;">Login</a>
</div>
</nz-header>

<router-outlet></router-outlet>
